body {
    background: $bg;
    padding: $bu;
    padding-top: $bu*4;
}
.header {
    display: flex;
    background: $white;
    position: absolute;
    top: 0px; left: 0px; right: 0px;
    border-bottom: 1px solid $border;
    align-items: center;
    justify-content: center;
    height: $bu*3;
}
.add {
    display: flex;
    width: 100%;
    max-width: 600px;
    position: relative;
    justify-content: center;
    padding: $bu;
}
.results {
    display: none;
    position: absolute;
    top: $bu*3 + $resultFix;
    width: 100%;
    background: $white;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    ul.result-list {
        margin: 0;
        list-style: none;
        width: 100%;
        padding: 0px;
        text-align: center;
        li {
            border-bottom: 1px solid $border;
            padding: $bu/2;
            &:hover {
                background: $bg;
                cursor: pointer;
            }
        }
    }
}
.pane {
    margin-bottom: $bu*3;
    header {
        display: flex;
        align-items: center;
        margin-bottom: $bu;
        & > * {
            margin: 0px;
        }
    }
}
#hamburger {
    position: absolute;
    left: $bu;
    margin: 0;
}