// Units
$bu:        15px;

// Colors
$bg:        #fafafa;
$white:     #fff;
$border:    #e6e6e6;

// Misc
$resultFix: 3px;

// Mixins - Extends
%border {
    border: 1px solid $border;
}

%white-bg {
    background: $white;
}